.network-check {
  width: 100%;
  height: auto;
  margin: auto;
  padding: var(--padding-common);
  text-align: center;
  align-content: center;
  display: flex;
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  z-index: 150;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.network-check > .clickable {
  cursor: pointer;
  border-color: 1px solid var(--secondary-color);
}
.network-check > .hover-dotted {
  border-color: 1px solid var(--secondary-color);
}

.chain-select-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
