/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/styling/DashboardPage.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.dash-icon {
  background-color: var(--bg-color-light-1);
}

.dash-icon-size {
  height: 30px;
  width: 30px;
}

.dashboard-text {
  max-width: calc(var(--page-max-width) / 2.5);
}

.list-style-type {
  list-style-type: none
}

.gridDashboard {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap:30px;
  gap:30px;
  padding:5px;
}

.gridDashboard > div {
  text-align: center;
  
}
